@model 專題Version1.Models.ViewModels.TransactionDetailsViewModel

@{
    ViewBag.Title = "TransferDetails";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">交易成功!</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-primary">轉出帳號</label>
                                <p class="text-dark">@Html.Raw(Model.FromAccount)</p>
                            </div>
                            <div class="form-group">
                                <label class="text-primary">轉入帳號</label>
                                <p class="text-dark">@Html.Raw(Model.ToAccount)</p>
                            </div>
                            <div class="form-group">
                                <label class="text-primary">金額</label>
                                <p class="text-dark">@Html.Raw(Model.Amount.ToString("N0"))</p>
                            </div>
                            <div class="form-group">
                                <label class="text-primary">備註</label>
                                <p class="text-dark">@Html.Raw(Model.Description)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-primary">交易日期</label>
                                <p class="text-dark">@Html.Raw(Model.TransactionDate)</p>
                            </div>
                            <div class="form-group">
                                <label class="text-primary">交易前餘額</label>
                                <p class="text-dark">@Html.Raw(Model.FromAccountBalanceBeforeTransaction.ToString("N0"))</p>
                            </div>
                            <div class="form-group">
                                <label class="text-primary">交易後餘額</label>
                                <p class="text-dark">@Html.Raw(Model.FromAccountBalanceAfterTransaction.ToString("N0"))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="text-center">
                <button type="button" class="btn btn-success btn-rounded btn-fw" onclick="location.href='@Url.Action("Transfer", "Transaction")'">繼續轉帳</button>
                <button type="button" class="btn btn-primary btn-rounded btn-fw" onclick="location.href='@Url.Action("Index", "User")'">回到首頁</button>
            </div>
        </div>
    </div>
</div>
